<template>
  
  <div class="contenedor">
      <h2>Buscador de Pokemons</h2>
      <input type="text" id="txtCadenaBusqueda" v-model="cadenaBusqueda" @keyup.enter="cambioBusqueda">
      <button>Limpiar</button>
  </div>

</template>

<script>
export default {
    data(){
        return {
            cadenaBusqueda: null,
        }
    },
    methods:{
        cambioBusqueda(){

        }
    }
}
</script>

<style scoped>
.contenedor{
    margin: auto;
}

input{
    margin: 10px;
}
</style>