<template>

    <CajaBusqueda />
    <TablaResultados />
    <PokemonCard/>
  
</template>

<script>
import CajaBusqueda from "@/components/CajaBusqueda.vue";
import TablaResultados from "@/components/TablaResultados.vue";
import PokemonCard from "@/components/PokemonCard.vue";
// import TablaLetras from "@/components/TablaLetras.vue";
// import Paginador from "@/components/Paginador.vue";


export default {

    components: {
        CajaBusqueda,
        TablaResultados,
        PokemonCard
    }

}
</script>