<template>
  
</template>

<script>
export default {

}
</script>

<style scoped>

.card {
    width: 25%;
    border: 1px solid gray;
    margin: 10px 10px;
    float: left;
}

.card img {
    width: 100%;
}

.container {
    padding: 2px 16px;
}

.container .titulo {
    text-align: center;
}

</style>