<template>
    <div class="contenedor">

        <div class="content-izq">
            <table>
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Enlace</th>
                        <th>Mostrar</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="({ name, url }, index) in pokemones" :key="index">
                        <td class="poke-name">{{ name }}</td>
                        <td>{{ url }}</td>
                        <td>
                            <button @click="mostrarPokemon(name)">Mostrar</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div id="poke-card" class="sidebar">
            <div v-if="pokemon">
                <h2>{{ pokemon.name }}</h2>
                <img :src="pokemon.sprites.front_default">

                <h3>Habilidades</h3>
                <ul>                
                    <li v-for="({ ability }, index) in pokemon.abilities" :key="index">
                        {{ ability.name }}
                    </li>
                </ul>
                <ul>
                    <li>
                        <span><strong>Experiencia base: </strong>{{pokemon.base_experience}}</span>
                    </li>
                    <li>
                        <span><strong>Altura: </strong>{{pokemon.height}}</span>
                    </li>
                </ul>
            </div>
        </div>
        
    </div>
</template>

<script>
import { mapState } from 'vuex'

export default {
    data(){
        return {
            params: {
                offset: 0,
                limit: 15
            }
        }
    },
    mounted(){
        this.$store.dispatch('modulo/devuelvePokemones', this.params)
    },
    methods: {
        mostrarPokemon(pokename){
            console.log('quieres a: '+pokename)
            this.$store.dispatch('modulo/devuelvePokemon', pokename)
        }
    },
    computed: {
        ...mapState('modulo', ['pokemones', 'pokemon'])
    }
}
</script>

<style scoped>
    .contenedor table{
        margin: 1em auto;
        width: 90%;
    }
    .poke-name{
        font-weight: bold;
    }
    li {
        text-align: left;
    }
	table {
			border:1px solid #b3adad;
			border-collapse:collapse;
			padding:5px;
		}
    table th {
        border:1px solid #b3adad;
        padding:5px;
        background: #ffc800;
        color: #313030;
    }
    table td {
        border:1px solid #b3adad;
        text-align:center;
        padding:5px;
        background: #ffffff;
        color: #313030;
    }
    .contenedor {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .content-izq {
        width: 70%;
    }
    .sidebar {
        width: 25%;
        border: 1px solid #dcc;
    }
</style>